body {


  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: <200>;
  font-style: normal;
  background-image: url('https://i.pinimg.com/originals/84/a2/a3/84a2a3986485e475485dee4a327f8541.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;

.poetry-picture {

	
  width: 350px;
  height: 400px;
  float: right;
}
.poem-picture{ 
 width: 350px;
  height: 400px;
  float: left;
} 
.my-picture { 
width:350px;
height; 350px;
float: right;
}
header {

border-radius: 15px 15px 0px 0px;
  background: #73AD21;
  padding: 20px;
  width: 1060px;
  height: 150px;
  background: rgba(100,149,237, 0.7)  ;
   


}
header h2 {

  font-family: "DM Serif Display", serif;
  font-optical-sizing: auto;
  font-weight: 300px;
  font-style: normal;
  color: black;
  margin: 0;
  padding: 40px;
 



}
nav ul {
border-radius: 15px;
  background: #73AD21;
  padding: 20px;
  width: 1060px;
  height: 50px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #aed6f1 ;
}

nav li {
  float: left;
 
}


nav li a {

  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {

  background-color: #e3f2fd;
}
footer {

  background: rgba(100,149,237, 0.7);
  padding: 40px;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: <200>;
  font-style: normal;
}
footer p {
  color: navy blue ;
  margin: 0;
  
}

#container {

  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
.two-column {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 40px;
  background-color: #e3f2fd;
}
.two-column div {
  margin-right: 10px;
  margin-left: 10px;
  background-color: #e3f2fd;
}

.three-column {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 40px;
  background-color: #e3f2fd;
}

.three-column div {
  background-color: white;
  margin-righ: 10px;
  margin-left: 10px;
}

.six-column { 
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 6 equal columns */
    gap: 100px; /* Space between columns */
    padding: 30px;
    background-color: #e3f2fd;
	gap: 20px;
}
.six-column div {
   
    padding: 20px; /* Space inside each column */
    text-align: left; /* Centered text */
   
} 
